@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,500,300,200,100);

.App-header {
  background-color: #35424a;
  height: 40px;
  padding: 20px;
  color: white;
}
.App{
  height: 653px;
}
.myname{
  font-family: 'ubuntu';
  font-size: 40px;
  margin: 0px;
  padding: 0px;
  float: left;
  margin-left: 40%;
}
.fa-github{
  margin-left: 25%;
  font-size: 3rem;
  text-decoration: none;
  color: white;
}
.fa-linkedin{
  margin-left: 4%;
  font-size: 3rem;
  color: #0077B5;
}
.fa-bars{
  font-size: 3rem;
  float: left;
}
.list{
  margin: 0px;
  padding: 0px;
  list-style: none;
  margin-left: 50px;
  text-decoration: none;
}
.list li{
  float: left;
  height: 20px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  color: white;
}
.link{
  text-decoration: none;
  color: white;
}
.navbar{
  height: 30px;
  background-color: #35424a;
  border-bottom: 2px solid #e8491d;
  text-decoration: none;
}
.container{
  background-image: url("/image/back.jpg");
  background-size: 100% 100%;
  height: 541px;
  opacity: 0.8;
}
.content{
  text-align: center;
  position: relative;
  color: white;
  margin-top: -500px;
}
.content h1{
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}
.content h2{
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  
}
.content h3{
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.content a{
  text-decoration: none;
  color: #fafafa;
}
.fa-envelope{
  margin-right: 15px;
}
.fa-phone{
  margin-right: 15px;
}
.contentName{
  text-align: center;
  font-size: 30px;
  color: white;
  position: relative;
  margin-top: -220px;
}
.contentName h1{
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}
.profile{
    height: 300px;
    width: 300px;
    border-radius: 100%;
    border: 2px solid white;
    padding: 5px;
    margin-top: -500px;
    margin-left: 480px;
    position: absolute; 
}
.openbtn{
  margin-top: 0.5%;
  font-size: 25px;
  color: white;
}
.slideHeader {
  width: 100%;
  height: 60px;
  margin-top: -60px;
  background-color: #35424a;
  padding-top: 29px;
  border-bottom: 3px solid #e8491d;
  padding-bottom: 20px;
  text-align: center;
  font-family: 'ubuntu';
  font-size: 25px;
}
.closebtn {
  color: white;
  text-decoration: none;
  display: block;
  font-size: 30px;
  margin-left: 260px;
  margin-top: -140px;
}
.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -320px;
    background-color: #111;
    overflow: hidden;
    transition: 200ms;
    padding-top: 60px;
    box-shadow: rgba(0,0,0,0.14)5px -2px 2px 0px,rgba(0,0,0,0.12)5px -2px 5px 0px,rgba(0,0,0,0.2)5px -2px 1px -2px;
}
.links {
    background-color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    height: 560px;
    padding-top: 15px;
}
.links a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  width: 300px;
  height: 50px;
  padding-top: 15px;
}
.space {
    width: 0px;
    padding-top: 2px;
    color: lightgrey;
    padding-left: 15px;
}
.align {
    display: flex;
}
.align p{
  margin-left: 45px;
}
.backdrop {
  z-index: 2;
  background-color: #000;
  opacity: 0;
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 300ms ease;
}
#root:target .backdrop {
    display: block;
    opacity: 0.6;
}
#root:target .sidenav {
    left: 0px;
    transition: all 200ms ease;
}
.hi2{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin-top: -25px;
}
.fa-facebook{
  font-size: 45px;
  position: relative;
  border: 2px solid #fafafa;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  line-height:70px; 
  margin:0px 30px 0px 30px;
  opacity: 0.7;
}
.fa-twitter{
  font-size: 45px;
  position: relative;
  border: 2px solid #fafafa;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  line-height:70px; 
  margin:0px 30px 0px 30px;
  opacity: 0.7;
}
.fa-google-plus{
  font-size: 45px;
  position: relative;
  border: 2px solid #fafafa;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  line-height:70px; 
  margin:0px 30px 0px 30px;
  opacity: 0.7;
}
.fa-instagram{
  font-size: 45px;
  position: relative;
  border: 2px solid #fafafa;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  line-height:70px; 
  margin:0px 30px 0px 30px;
  opacity: 0.7;
}