.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}
.App{
  height: 653px;
}
.myname{
  font-family: 'ubuntu';
  text-align: center;
  font-size: 40px;
  margin: 0px;
  padding: 0px;
}

